.footer-section {
  background: #000000;
  padding: 100px 80px;
  color: white;
}

.footer-container {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 100px;
}

/* LEFT SIDE */
.footer-left {
  flex: 1.4;
}

.footer-title {
  font-family: "Brinnan", sans-serif;
  font-size: 38px;
  font-weight: 400;
  margin-bottom: 50px;
}

/* Newsletter */
.footer-newsletter {
  display: flex;
  align-items: center;
  gap: 18px;
}

.footer-input {
  width: 280px;
  padding: 14px 18px;
  border-radius: 999px;

  border: 1px solid rgba(255, 255, 255, 0.12);
  background: rgba(255, 255, 255, 0.04);

  color: white;
  outline: none;
  font-size: 0.95rem;
}

.footer-input::placeholder {
  color: rgba(255, 255, 255, 0.35);
}

/* Subscribe Button */
.footer-subscribe-btn {
  padding: 14px 22px;
  border-radius: 999px;

  background: transparent;
  color: #ffffff;

  border: 1px solid #4d7cff;

  font-size: 0.95rem;
  font-weight: 500;
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  gap: 8px;

  transition: all 0.3s ease;

  /* ✅ Neon inset glow */
  box-shadow: inset 0 0 12px rgba(59, 130, 246, 0.4),
    inset 0 0 12px rgba(59, 130, 246, 0.2);

  /* ✅ Pulse animation */
  animation: footerNeonPulse 2s ease-in-out infinite;
}

.footer-subscribe-btn:hover {
  background: rgba(40, 120, 255, 0.45);
  transform: translateY(-2px);
}

/* RIGHT SIDE */
.footer-links {
  flex: 1.6;
  display: flex;
  justify-content: space-between;
  gap: 70px;
}

/* Columns */
.footer-column {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.footer-heading {
  font-size: 1.05rem;
  font-weight: 500;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.65);
}

.footer-column a {
  text-decoration: none;
  font-size: 0.95rem;
  color: rgba(255, 255, 255, 0.35);

  transition: 0.25s ease;
}

.footer-column a:hover {
  color: rgba(255, 255, 255, 0.8);
}


.footer-brand {
  margin-top: 20px;
  text-align: center;

  font-family: "Brinnan", sans-serif;
  font-size: 190px;
  font-weight: 500;
  letter-spacing: 4px;

  color: rgba(255, 255, 255, 0.95);

  text-transform: uppercase;
}


/* Responsive */
@media (max-width: 950px) {
  .footer-container {
    flex-direction: column;
    gap: 70px;
  }

  .footer-newsletter {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-input {
    width: 100%;
  }

  .footer-links {
    flex-direction: column;
    gap: 50px;
  }
}
@media (max-width: 1024px) {
  .footer-brand {
    font-size: 8.2rem;
    letter-spacing: 2px;
  }
}
@media (max-width: 768px) {
  .footer-brand {
    font-size: 5.2rem;
    letter-spacing: 2px;
  }
}
@media (max-width: 425px) {
  .footer-brand {
    font-size: 1.2rem;
    letter-spacing: 2px;
  }
}